@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right mr-auto">
        <li class="nav-item">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dashboard
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                @Html.ActionLink("Active Tokens", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item bg-warning" })
                @Html.ActionLink("Processed Tokens", "_ProcessedTokens", "Admin", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                <div class="dropdown-divider"></div>
                @Html.ActionLink("Manage Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })
                @Html.ActionLink("Register Admin", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Manage", @class = "dropdown-item" })

            </div>
        </li>
        @*<li class="nav-item">
        </li>*@
        <li class="nav-item"><a href="javascript:document.getElementById('logoutForm').submit()" class="nav-link active">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right ml-auto">
        <li class="nav-item">@*@Html.ActionLink("Register Admin", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link" })*@</li>
        <li class="nav-item">@*@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })*@</li>
    </ul>
}
